In [1]:
14 june #day1

SyntaxError: invalid syntax (3649664538.py, line 1)

In [47]:
##int
print(10)

10

In [48]:
# float
print(10.5)

10.5

In [49]:

print(True)

True

In [50]:
#bool
print(True)

True

In [51]:
#string
print("dhananjay")

dhananjay

In [52]:
#complex
print(3+5j)

(3+5j)

In [ ]:
#list
print(10,10.5,"string")

In [ ]:
#list
print([10,10.5,"string"])

In [53]:
#tuple
print((10,10.5,"string"))

(10, 10.5, 'string')

In [54]:
#set
print({1,2,3,4,5,5,5,5,})

{1, 2, 3, 4, 5}

In [ ]:
#dict
print({"name":"Dhananjay"})

In [ ]:
print("string",10,10.5,sep="/")

In [55]:
print("hello",end=" ")
print("world")

hello world

In [56]:
a=5
b=a
c=b
print(c)

5

In [57]:
a=b
b=c
c=6
print(c)

6

In [44]:
print(b)

0

In [45]:
id(a)

140737052590856

In [46]:
id(b)

140737052590856

In [ ]:
a=b=c=10
print(a)

In [ ]:
 student1="dhananjay"
student2="ram"
print(student1)
print(student2)

In [ ]:
input()

In [ ]:
num1=input()
print(num1)

In [ ]:
num1=input()
num2=input()
num3=num1+num2
print(num3)

In [ ]:
num1=int(input())
num2=int(input())
print(num1+num2)

In [ ]:
num1=int(input())
num2=int(input())
print(num1+num2)

In [ ]:
int(True)

In [ ]:
int(False)

In [ ]:
str(10)

In [ ]:
str(10.5)

In [ ]:
str(5+6j)

In [ ]:
num1=int(input())
num2=int(input())
num3=int(input())
print(num1+num2+num3)

In [42]:
#oparators
#artmatical oparators
print(10+2) #addition
print(10-2) #sutraction
print(10*2) #multipication
print(10/2) #division
print(10%2) #modulas
print(10//2) #flooar div
print(5**2454) #exponant

12
8
20
5.0
0
5
187236554450620595852513967912043605304035164175157705002341077713914899228666171657367098091166994932117178949001566388383331519913663809703154639697206910530279041951670129619666213013443428399760568388694925024369196233872663721023427332419143042842010230537969227543234977245678652565936684287998393844093444272964713864338257125554190341601366564679953831724602013125759084818453204732188276385808279977915883213847750759239859492203991276649899444110936047753431491330979352662416591912645765280227621060532482351157749297452416535476178375011890803088382327777675580045692727970522669607145816973018550626312594009493908986510165913275258126398126513214833795741970027136965674161793178482736997832596161593759470714788139314500968875506520826984455680567229148928606797047083598533757702242027791852943349829236548268998195344413610957333575048470191388721127408434604445331856520913162903472171498858269091200973953581548377783836773884498694609811155257016969654515661019590210894486283812380889948304424502185993872130910241669384692668420707758518425032000211680889082589181133330022342981801908112973578117650584273184028460052295788208924307216441458489611027812485668986898884773792044224727875803743537229126657963514064404093943299038714028811439446532918844801995251161993413298458875513060548680236137618246300569076117621566011307504654666534852834543327576352408386286422148743578041482779215059059908482024644514426139581961556526370536382129985045164249784253178999398860619138981399240275049427222360648984499207629794293924298873914850412754861054480805290146802110175277391101859332866425508869109975851946655755016062379617554722761252432032511743877079002373875482589937746524810791015625

In [41]:
num=int(input(ENTER YOUR 3 DIGIT NUMBER")) 
a= number%10 #a=5
number=number// #34
b=number%10 #4
c=number//10 #3
print(a+b+c)

SyntaxError: unterminated string literal (detected at line 1) (2844812082.py, line 1)

In [40]:
num=int(input("ENTER YOUR 3 DIGIT NUMBER")) 
a= number%10 #a=5
number=number//10 #34
b=number%10 #4
c=number//10 #3
print(a+b+c)

ENTER YOUR 3 DIGIT NUMBER 4

3

In [ ]:
day2

##dir:-is a powerful inbuilt function in python3 which returns list if the attributes and method of any objects (function,modules,string,list,dictionaries)

In [39]:
dir()

['In',
 'Out',
 '_',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__session__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'age',
 'arr',
 'b',
 'b2',
 'c',
 'exit',
 'get_ipython',
 'i',
 'jack',
 'l',
 'l1',
 'l2',
 'li',
 'n',
 'name',
 'names',
 'number',
 'open',
 'quit',
 's',
 's2',
 'str1',
 't']

In [ ]:
### help is used to return the documentation related the searching keyword or function

In [ ]:
help(print)

In [38]:
id and type
#variable
a=10
b=15
c=10
print(id(a))  #same variable has same variable id
print(id(b))
print(id(c)) #id is used to return the value of variable

140737052591176
140737052591336
140737052591176

In [37]:
jack=None
print(id(jack))

140737051200272

In [36]:
jack=None
print(type(jack))

<class 'NoneType'>

In [ ]:
### numeric datatype
1) integer, float,complex

In [35]:
#type is used to return the data type of the variable
a=10
b=20.25
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [34]:
## complex datatype:-a complex is a number that is written in the form of a+bj,here a is real number b represent the imaginary number and j is suffix
a=10+20j
print(type(a))

<class 'complex'>

## sequence:-str,list,bytes,bytearray,tuple,range

# str represent the string , a string is a group of characters,string are enclosed in single qoutes or double qoutes both are valid

In [ ]:
s="hello how are you doing today ?"
print(type(s))
print(s)

In [ ]:
#python does not support character datatype like c and jave it support string

In [ ]:
a='c'
print(type(a))

In [ ]:
help(list)

In [32]:
l1=[10,20,30,40,50] #list
print(type(l1))
print(l1[0])

<class 'list'>
10

In [33]:
arr=list((1,2,3,4,5,6,7,8,9))#method 2 of creating list
print(type(arr))
print(arr)

<class 'list'>
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
help(bytes)

In [ ]:
l1=[10,20,30,40,40,255]
print(type(11))
b= bytes(l1) #converting the list into bytes 
print(type(b))
print(l1)
print()
print(b[0])

In [31]:
l2=[10,20,30,40,50]
print(type(12))
b2=bytearray(12)
print(type(12))
print(type(b2))
print(12)
print(b2)
print(b2[0])
b2[0]=100 #bytearray can be used to item assignment
print(b2[0])

<class 'int'>
<class 'int'>
<class 'bytearray'>
12
bytearray(b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00')
0
100

In [ ]:
tup=(10,20,30)
print(type(tup))
print(tup) #printing to the tuple
print(tup[0]) #printing the tuple by using the index value

In [ ]:
help(range)

In [30]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [29]:
##set data type 
two datatype
1.set
2.frozen set

SyntaxError: invalid decimal literal (3008229575.py, line 3)

In [28]:
s={}
l=[]
t=()
print(type(s)) #set
print(type(l)) #list
print(type(t)) #tuple

<class 'dict'>
<class 'list'>
<class 'tuple'>

In [27]:
s={1}
l=[]
t=()
print(type(s)) #set
print(type(l)) #list
print(type(t)) #tuple

<class 'set'>
<class 'list'>
<class 'tuple'>

In [26]:
s={1,1,1,1,2,2,3,3,3,4,5,6,7}
print(s)

{1, 2, 3, 4, 5, 6, 7}

In [25]:
s={2,2,2,8,9,9,3,3,3,4,4,5}
print(s)

{2, 3, 4, 5, 8, 9}

In [24]:
s={1,2,3,4}
s.add(12)
print(s)

{1, 2, 3, 4, 12}

In [21]:
s={1,2,3,4,5}
s2=frozenset(s) #froze set can not be changed their value like set
print(type(s2))
print(s2)

<class 'frozenset'>
frozenset({1, 2, 3, 4, 5})

In [22]:
a=10
b=20
c=30
#the value of 10 b is 20 and c is 30
#first way
print(f" the value of a is {a} b is {b} and c is {c}")
#2nd way
print("the value of a is {0} b is {1} and c is {2}".format(a,b,c))

 the value of a is 10 b is 20 and c is 30
the value of a is 10 b is 20 and c is 30

In [ ]:
# oparator:-total 8 type of oparator 
1.arithmetic oparator
2.assignment oparator
3.unary minus oparator
4.relational oparator
5.logical oparator
6.bitwise oparator
7.memberwise oparator
8.identity oparator

In [23]:
#relational oparator
a=10
b=5
print(a<b)
print(a>b)
print(a==b)
print(a!=b)
print(a<=b)
print(a>=b)

False
True
False
True
False
True


a=10
b=20
print(a>=15 and b==20)

In [20]:
#logical oparator
a=10
b=20
print(a>=15 and b==20)

False

In [19]:
a=10
print(bin(a))#it will print the binary number of a
print(format(a,'b'))
print(oct(a))#it will print the binary number of a
print(format(a,'o'))
print(hex(a,'b'))

0b1010
1010
0o12
12

TypeError: hex() takes exactly one argument (2 given)

In [18]:
a=10  #day3
b=11
print(format(a,'b'))
print(format(b,'b'))

1010
1011

In [17]:
print(a&b)

10

In [16]:
print(a|b)

10

In [15]:
##leftshift
##rightshift
print(10<<2)

40

In [14]:
li=[10,20,30,40,50,]
print(10 in li)

True

In [13]:
li=[10,20,30,40,50,]
print(60 in li)

False

## identity oparator
#1.is
#2.is not

In [12]:
a=10
b=10
print(id(a))
print(id(b))
print(a is b)
l1=[10,20,30,]
l2=[10,20,30,]
print(id(l1))
print(id(l2))
print(l1 is l2)

140737052591176
140737052591176
True
1254062415360
1254061353984
False

In [11]:
a=10
b=20
if a==b:
    print("true")
else:
    print("false")

false

In [ ]:
#the value of a is 10 b is 20 and c is 30
#format,f,

## input output
## write a code to take the value from user and add that value and store in 3rd variable

In [10]:
a=int(input("enter the value of a"))
b=int(input("enter the value of b"))
c=a+b
print(c)

enter the value of a 30
enter the value of b 40

70

In [9]:
a=int(input("enter the value of a"))
b=int(input("enter the value of b"))
c=a-b
print(c)

enter the value of a 100
enter the value of b 20

80

In [8]:
a=int(input("enter the value of a"))
b=int(input("enter the value of b"))
c=a*b
print(c)

enter the value of a 2
enter the value of b 5

10

In [7]:
a=int(input("enter the value of a"))
b=int(input("enter the value of b"))
c=a/b
print(c)

enter the value of a 30
enter the value of b 30

1.0

## using import

In [ ]:
import math as mt

In [ ]:
print (mt.pi)

import sys
print()

## control statement

#
1)if statement 
2)if....else
3)if....else....statement
4)while loop
5)for loop
6)else suite
7)break statement
8)continue statement
9)pass statement
10)assert statement
11)return statement

## 1.if statement 
2.if....else
3.f....else....statement
4.while loop
5.for loop
6.else suite
7.break statement
8.continue statement
9.pass statement
10.assert statement
11.return statement

## if statement

In [6]:
age=int (input ("enter the age"))
if age>18:
    print("you can give vote")
else:
    print("you are not eligiable for the voting")
    print("out from the condition body")

enter the age 20

you can give vote

In [5]:
number=int(input("enter the number"))
if number==1:
    print("number is 1")
elif number==2:
    print("number is 2")
elif number==3:
    print("number is 3")
else:
    print("wrong input")

enter the number 3

number is 3

## while loop:- the while loop in python is used to iterate over a block of code as long as the test expresion is true

In [4]:
n=1
while(n<=10):
    print(n)
    n=n+1
print("outside the loop body")

1
2
3
4
5
6
7
8
9
10
outside the loop body

In [3]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [2]:
names=['dhananjay','swapnil','sushant','shubham']
for name in names:
    print(name)

dhananjay
swapnil
sushant
shubham

In [1]:
str1='dhananjay'
for i in str1:
    print(i)

d
h
a
n
a
n
j
a
y

In [ ]:
## nesting for loop
hip
hip
hooray

In [ ]:
for i in range(1,4):
    for j in range (1,3):
        print('hip')
        print('hooray')

## break statement is used to break the execution of the program immediately when certain condition is true

In [ ]:
count=5 
while(count>0):
    if(count==3):
        break
        print(count)
        count=count-1

## continue statement

In [12]:
for i in range(0,9):
    if (i==5):
        continue
        print(i)

In [13]:
for i in range
    if (i==5):(0,9):
        continue
        print(i)

SyntaxError: expected ':' (2221820623.py, line 1)

In [7]:
def Add():
    """this is the function"""
    pass

## assert statement:-the assert statement is usefull to check if a paticular condition is fufulled or not it return an assertion error message

In [4]:
a='hello'
print(type(a))

<class 'str'>

In [5]:
lis=['sachin','dhoni','virat',180,190,200,20,1,22.5,23.6]
listr=[]
liint=[]
lifl=[]
for i in lis:
  if isinstance(i,str):
listr.append(i)
  elif isinstance(i,int):
liint.append(i)
  else:
lif1.append(i)
print(lis)
print(listr)
print(liint)
print(lifl)

IndentationError: expected an indented block after 'if' statement on line 6 (2652636758.py, line 7)

In [58]:
import calendar
yy=2024
mm=6
print(calendar,month(yy,mm))

NameError: name 'month' is not defined

In [12]:
now=datetime.datetime.now()
print("the current date is {0}-{1}-{2}".
     format(now.day,ow.month,now.year))
print("the current time is {0}--{1}--{2}".
     format(now.hour,now.minute,now.second))
the current date is 18-6-2024
the current time is 10-6-2024

SyntaxError: invalid syntax (404523977.py, line 6)

## function:-in python programming language a function is a self-contained group of statement which are intendedto perform a specific task

## advantages of the function:-
1.avoids repetation
2.modularization

In [1]:
def msg():#defining of the function
    """this is the function will write statemen"""
    print("hello world")

In [3]:
msg()#calling of the function
msg()#calling of the function
msg()

hello world
hello world
hello world

In [10]:
def johnwick():
    "car was stolen and dog was killed"
    print("hello jonathan")

In [5]:
johnwick(6)

hello jonathan

In [6]:
def msg(str1):
    print(str1)

In [7]:
msg('HELLO WORLD')

HELLO WORLD

In [8]:
def msg(str1):
    print(str1)

In [9]:
msg('men are brave')

men are brave

## write a code to display the wishing message with name using finction

In [26]:
def wish(name):
    print("hello " +name+" welcome to my club-house")
    print("have a great day")
def main():
    name=input("enter the name")
    wish(name)

In [27]:
wish('varun')

hello varun welcome to my club-house
have a great day

In [28]:
if __name__=="__main__":
    main()

enter the name varun

hello varun welcome to my club-house
have a great day

# function types
1.function with no arguments
2.function with required arguments
3.function with variable length arguments
4.function with keyword based arguments
5.functon wilth default arguments

In [1]:
def sum(a,b):
    print("sum={0}".format(a+b))
    return

In [2]:
sum(10,40)

sum=50

In [3]:
def sum (a,b):
    a=int(input('enter:'))
    b=int(input('enter:'))
    return print(a+b)

In [5]:
sum()

enter: 50
enter: 40

90

In [8]:
sum(1,2)

enter: 50
enter: 120

170

In [14]:
def sum(a,b):
    print("sum={0}".format(a+b))
    return
def main():   
    a=int(input("enter first value"))
    b=int(input("enter second value"))
    sum(a,b)
    return   
if __name__=="__main__":
         main()

enter first value 50
enter second value 40

sum=90

In [11]:
sum(10,30)

sum=40

## write a function to check the number is even or odd:

In [15]:
def even_odd(num):
    if num%2==0:
        return "the num {0} is even ".format(num)
    else:
        return"the num {0} is odd ".format(num)

In [18]:
even_odd(10)
l1=[2,4,3,5,12,13,14,15,22,21,23,25,26,27]
print(list(map(even_odd,l1)))

['the num 2 is even ', 'the num 4 is even ', 'the num 3 is odd ', 'the num 5 is odd ', 'the num 12 is even ', 'the num 13 is odd ', 'the num 14 is even ', 'the num 15 is odd ', 'the num 22 is even ', 'the num 21 is odd ', 'the num 23 is odd ', 'the num 25 is odd ', 'the num 26 is even ', 'the num 27 is odd ']

## write a program to chrck the factorial of the number

In [32]:
def fact(n):
    """this function will give factorial value"""
    prod=1
    while n>=1:
        prod=prod*n
        n=n-1
    return prod
l2=[2,4,5,6,7,8,9,10]
print(list(map(fact,l2)))

[2, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [2]:
#first way
lis=[] #by using squarebracket
print(type(11))
#2 way 
l2=list((1,2,3,4,5,6)) #by using list method
print(type(12))

<class 'int'>
<class 'int'>

In [3]:
help(list.append)

Help on method_descriptor:

append(self, object, /)
    Append object to the end of the list.

In [6]:
li=[1,2,3,4]
li.append(10) #push the element in the last index
print(li)

[1, 2, 3, 4, 10]

## write a program to take number character and special char from user during the runtime of program and append seperately in the list as number ,char , spclcar

In [7]:
x=input().split(',')
print(x)

 a,d,c,3,4,0,%

['a', 'd', 'c', '3', '4', '0', '%']

In [15]:
x=input().split(',')
lalpha=[] #to print alphabet
lnum=[] #to print number
lspac=[] #to store special char
for i in range(0,len(x)):
    if x[i].isalpha():
        lalpha.append(x[i])
    elif x[i].isnumeric():
        lnum.append(x[i])
    else:
        lspac.append(x[i])
print(lalpha)
print(lnum)
print(lspac)

 1,2,3,a,b,c,@,#,$

['a', 'b', 'c']
['1', '2', '3']
['@', '#', '$']

In [17]:
lis=[1,2,3,4,5]
l2=[]
l2=li.copy()
print(l2)

[1, 2, 3, 4, 10]

In [24]:
li=[1,1,2,1,2,3,4,5]
li.count(1)

3

In [26]:
li=[1,1,2,1,2,3,4,5]
li.clear

In [30]:
x=[] #empty list
print("enter the length of the list ")
n=int(input())
for i in range(n):
    x.append (int(input()))
    print(x)

enter the length of the list

 2
 3

[3]

 4

[3, 4]


print("enter the length of the list ")
n=int(input())
for i in range(n):
    x.append (int(input()))
    print(x)
y=int(input('enter the number to check '))
c=0
for i in (x):
    if(y==i):
        c=c+1
print("(0)the number is found times(1)".format(y,c))

In [35]:
x=[]# empty list
print("enter the length of the list ") 
n=int(input())
for i in range(n):
    x.append(int(input()))
print(x) 
y=int(input('enter the number to check '))
c=0 
for i in (x): 
    if(y==i):
        c=c+1
print("{0} number is found {1} times".format(y,c))

enter the length of the list

 5
 1
 2
 2
 3
 2

[1, 2, 2, 3, 2]

enter the number to check  2

2 number is found 3 times

In [6]:
lis=[1,2,3,4]
l2=[5,4,6,7]
lis.extend(l2)
print(lis)

[1, 2, 3, 4, 5, 4, 6, 7]

In [10]:
l2.extend(lis)
print(l2)

[5, 4, 6, 7, 1, 2, 3, 4, 5, 4, 6, 7]

In [11]:
li=[1,2,3,4,5]
li.insert(2,1) #
print(li)

[1, 2, 1, 3, 4, 5]

In [20]:
li=[1,2,3,4,5,6,7]# pop the element in the list
li.pop(3)

4

In [21]:
li=[5,7,4,8,4,2,1,6,13,14,]#unsorted list
li.sort()
print(li)

[1, 2, 4, 4, 5, 6, 7, 8, 13, 14]

## write a program to find the first and second smallest element in the list

In [31]:
x=[]# x is a empty list
n=int(input("total number of list"))
for i in range(n):
    x.append(int(input()))
print(x)
x.sort()
print('the first smallest element{0}'.format(x[0]))
print('the second smallest element is {0}'.format(x[1]))

total number of list 5
 1
 2
 3
 4
 5

[1, 2, 3, 4, 5]
the first smallest element1
the second smallest element is 2