In [17]:
def is_even(num):
    """this function retuens if a given number is odd or even input- any valid integer output-odd/even """
    if type(num)==int:
        if num%2==0:
            return "num is even"
        else:
            return "num is odd"
    else:
         return "invalid input"

In [12]:
is_even('dhananjay') #actual data while calling function is called argument

'invalid input'

In [19]:
for i in range(1,11):
    x= is_even(i)
    print(x)

num is odd
num is even
num is odd
num is even
num is odd
num is even
num is odd
num is even
num is odd
num is even

In [18]:
print(is_even.__doc__)

this function retuens if a given number is odd or even input- any valid integer output-odd/even

### types of arguments
1.default argument
2.positional argument
3.keyword argument

In [24]:
def power (a=1,b=1):
    return a**b

In [25]:
power(2,3)

8

In [26]:
#keyword argument
power(b=3,a=2)

8

## * args and **kwrgs are special python keyword that are used to pass the variable length of the functon

In [28]:
#  *args
def multiply(*args):
    product = 1

    for i in args:
        product=product*i

    print(args)
    return product

In [31]:
multiply(1,2,3,4,5,6,7,8,9,10)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

3628800

In [47]:
display(India="Delhi",srilanka="colombo",nepal="kathymandu",pakistan="islamabad")

India ---> Delhi
srilanka ---> colombo
nepal ---> kathymandu
pakistan ---> islamabad

In [45]:
def display(**kwargs):
    for (key,value) in kwargs.items():
        print(key,"--->",value)

In [46]:
display(india="Delhi",srilanka="colombo",nepal="kathymandu",pakistan="islamabad")

india ---> Delhi
srilanka ---> colombo
nepal ---> kathymandu
pakistan ---> islamabad

## function without return statement

In [3]:
l=[1,2,3,4]
print(l.append(5))
print(l)

None
[1, 2, 3, 4, 5]

### variable scope

In [4]:
def g(y):
    print(x)
    print(x+1)

x=5
g(x)
print(x)

5
6
5

In [6]:
def f(y):
    x = 1
    x +=1
    print(x+1)
x = 5
f(x)
print(x)

3
5

In [10]:
def h(y):
    x += 1

x = 5
h(x)
print(x)

UnboundLocalError: cannot access local variable 'x' where it is not associated with a value

In [11]:
def f(x):
    x = x + 1
    return x
    
x = 3
z= f(x)
print(z)

4

## nested function

In [15]:
def f():
    def g():
        print("inside function g")
    g()    
    print ("inside function f")

In [16]:
f()

inside function g
inside function f

In [17]:
def g(x):
    def h():
        x = "abc"
    x = x + 1
    print(x)
    h()
    return(x)

x = 3
z = g(x)

4

## functions are first class citizen

## lambda 
a lambda function can take any number argument byt can only have one expresion

In [4]:
a=lambda x : x**2
a(5)

25

In [5]:
a = lambda x : "even" if x%2 == 0 else "odd"
a(2)

'even'

In [2]:
#l=[1,2,3,4,5,6,7,8,9]
def cube(li):
    for i in li:
        i=i**3
        print(i)

li=[2,3,4,5]
cube(li)

8
27
64
125

In [4]:
#def
def transform (f,l):
    output = []
    for i in l:
        output.append(f(i))
    print(output)

L=[1,2,3,4,5]
transform(lambda x:x**3,L)

[1, 8, 27, 64, 125]

### map

In [5]:
#squer the items of the list 

list(map(lambda x:x**2,[1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [9]:
list(map( lambda x : "even" if x%2 == 0 else "odd",[1,2,3,4,5,534,533,433]))

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'odd']

In [17]:
user=[
    {
    'name':'rahul',
    'age':23,
    'gender':'male'
},
{
    'name':'nitish',
    'age':25,
    'gender':'male'
},
{
    'name':'ankita',
    'age':20,
    'gender':'female'
}
]
list(map(lambda x: x['gender'],user))

['male', 'male', 'female']

In [ ]:
# number greater

In [18]:
#fetch fruita starting with "a"

fruits = ["apple","cherry","kiwi"]
list(filter(lambda x : x.startswith("a"),fruits))

['apple']

In [19]:
#sum of all items
import functools

functools.reduce(lambda x,y : x+y ,[1,2,3,4,5])

15

In [7]:
import functools

# find the min
l=[12,45,67,89,90,45,12,78,56]
functools.reduce(lambda x,y : x if x<y else y,l)

12